* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 20px;
    background: #f4f4f4;
    font-family: 'Courier New', Courier, monospace;
}
.book-list {
    margin: 40px auto;
    padding: 30px 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    overflow-y: auto;
}
.book-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 0 0 300px;
    max-width: 100%;
    height: 400px;
    max-height: 400px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    text-align: center;
}
h1 {
    color: #222;
    font-family: Arial, sans-serif;
    text-align: center;
}
p {
    font-size: 16px;
    line-height: 1.5;
    color: #444;
    text-align: center;
}
h1, p {
    margin-bottom: 20px;
}
img {
    display: block;
    margin: 20px auto;
    width: 150px;
    height: 200px;
    max-width: 100%;
}
.bestseller {
    font-size: 10px;
    color: red;
}
.back-button {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px 15px;
    font-size: 14px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}