@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent: #0ff; /* cyan #00ffff */
  --accent2: #ff00e6; /* magenta */
  --accent3: #8400ff; /* Purple #8400ff */
}


html, body, #root {
  height: 100%;
}

.logo-vanta {
  width: 300rem;        
  height: 300rem;
  display: block;
  margin: 0 auto;
}
