@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent: #00ffff; /* cyan */
  --accent2: #ff00e6; /* magenta */
}


html, body, #root {
  height: 100%;
}

.logo-vanta {
  width: 300rem;        
  height: 300rem;
  display: block;
  margin: 0 auto;
}
