body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: #eee;

  display: block;

  padding-top: 2rem;
  padding-bottom: 3rem;
}

header {
  width: 100%;
  text-align: center;
  margin-bottom: 1.5rem;
}

.top-nav a {
  display: inline-block;
  padding: 0.8rem 1rem;
  color: #eee;
  font-weight: bold;
  text-decoration: none;
}

h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

p {
  margin-bottom: 2rem;
  opacity: 0.8;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.card {
  background: #1a1a1a;
  padding: 1.3rem;
  border-radius: 10px;
  text-align: center;
  border: 1px solid #222;
  transition: transform 0.15s ease, background 0.2s ease;
}

.card:hover {
  background: #242424;
  transform: translateY(-4px);
}

a {
  color: #76c7ff;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 400px) {
  h1 {
    font-size: 1.6rem;
  }

  .card {
    padding: 1rem;
  }

  a {
    font-size: 1rem;
  }
}
